# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:

- stage: Test
  displayName: Test
  jobs:
    - job: Test
      pool:
        name: Default
      steps:
      - script: echo Test
        displayName: 'Prepare Testing'

      - task: PowerShell@2
        inputs:
          filePath: $(System.DefaultWorkingDirectory)\tosca_execution_client.ps1
          arguments: >
            -toscaServerUrl "$(ToscaServerURL)"
            -projectName "tosca_core_repo"
            -eventsConfigFilePath "testEvents.json"
            -clientId "$(ClientID)"
            -clientSecret "$(ClientSecret)"
            -creator "ADO Pipeline DEX"
            -resultsFileName "results.xml"
            -resultsFolderPath "C:/temp/results"
            -debug "true"
        displayName: 'Execute Tosca TestEvent(s) via ToscaExecutionClient'
  
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: 'Get-Content -Path "C:\\temp\\results\\results.xml" | Out-File -FilePath "C:\\temp\\results\\results_encode.xml" -Encoding ASCII'

      - task: PublishTestResults@2
        displayName: 'Publish Test Results'
        inputs:
          testResultsFiles: 'C:\temp\results\results_encode.xml'

